html{
    background-image: url('https://media.tenor.com/UyXyHDmPBOcAAAAM/cat-stare-stare.gif');
    background-size: cover;
}
h1{
    font-family: papyrus;
    background-color: aqua;
}
h2{
    font-family: papyrus;
}
